* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
}

.container {
	display: flex;
	height: 100%;
	width: 100%;
}

textarea {
	margin-top: 10px;
	width: 100%;
	height: 100%;
	resize: none;
	border-radius: 0.5rem;
	background: black;
	color: white;
	padding: 0.5rem 1rem;
}

iframe {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
}

.terminal {
	margin-top: 10px;
	padding-left: 10px;
	width: 100%;
}

.editor {
	width: 50vw;
	height: 50vh;
}
.output {
	width: 50vw;
	margin-top: 10px;
}

.btn {
	margin-left: 10px;
	margin-top: 10px;
}
